div(layout="row")
  div(flex)
    [flex]
    img(src="http://fc02.deviantart.net/fs9/i/2006/066/6/6/muscle_Car_by_ArcAngelTyrael.jpg")
  div(flex)
    [flex]
    img(src="http://fc02.deviantart.net/fs9/i/2006/066/6/6/muscle_Car_by_ArcAngelTyrael.jpg")
  div(flex, hide-sm)
    [flex]
    img(src="http://fc02.deviantart.net/fs9/i/2006/066/6/6/muscle_Car_by_ArcAngelTyrael.jpg")
