<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">
        <span class="glyphicon glyphicon-home"></span> Reactive Drive
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#/">Home</a></li>
        <li><a ng-href="#/photos">Photos</a></li>
        <li><a ng-href="#">Contact</a></li>
<!--
        <li ng-class="{active: isActive('{{menuItem.url}}')}" ng-repeat="menuItem in menuItems">
          <a ng-href="#{{menuItem.url}}" title="{{menuItem.title}}">
            {{menuItem.name}}
          </a>
        </li>
-->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>Current date: {{ date | date:'yyyy-MM-dd' }}</li>
      </ul>
    </div>
  </div>
</nav>
